.eventBookingBody{
  background-color:#EEEEEE; 
}
.eventContainer1{
  height:510px; 
  margin-left:100px;  
}
.eventContainer2{
  display: flex;
  height:410;
  margin-top: -10px;
}
.eventContainer3{
  display:flex;
  overflow: hidden;
  
}
  
.imageDiv1{
  background-color: rgb(10, 10, 10);
  min-width: 1100px;
  max-width: 825px;
  height:450px;
  position: relative;
  display:flex;        
  align-items: center;
  flex-direction: column;  
}
.imageDiv2{  
  text-align: center;
  display: flex;
  align-items: center;  
  justify-content: center;
  padding: 10px;  
  margin-top:100px; 
  height:200px;     
}
.details1{
  display: flex;
}
.eventBookBtnDiv{
  background-color: aliceblue;
  width:1100px;
  height:100px;
  
  
}
.bookEventBtn {  
  border: 0.5px solid rgb(248, 68, 100);
  color: rgb(255, 255, 255);
  background-color: rgb(248, 68, 100);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
  width: 150px;
  height:65px;  
  cursor: pointer;  
  float:right;
  margin-top:-70px;
  margin-right:20px;
}
.eventName{
  padding:10px;
  font-size: 25px;
}
.eventTime{
  padding:10px;
  font-size: 14px;
  font-weight: bold;
}