*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.body{
  background-color:#ddd;
  display:grid;
  place-items: center;
  min-height:100vh; 
  font-family: "roboto", sans-serif; 
}
.container{
  background-color:#fff;
  min-width:40rem;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}
.left{
  background-color:#2874f0;
  padding:3rem 2rem;
  
}
.heading{
  color:#fff;
  font-weight:500;
  margin-bottom: 1rem;
}
.heading_desc{
  color:#fff;
  font-size: 1.2rem;
}
.input-group{
  position:relative;
}
.input{
  padding: 0.5rem 0;
  border:none;
  width:100%;
  border-bottom: 1px solid #878787;
  outline:none; 
}
.divContent{
  display: flex;
  margin-top: 10px;
  width:300px;
}
.div1{
  display: flex;
  flex-direction: column;
}
.label{
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 14px;
  font-weight: bold;
}
.TxtBox{ 
    width: 300px;
    padding: 10px;
    font-size: 12px;
    overflow: hidden;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    color: rgb(89, 89, 89);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(153, 153, 153);
    transition: background 0.5s ease-out 0s;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;  
}
