.datecontainer {
  display: flex;
  flex-direction: column;
}
.date-list {
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  list-style-type: none;
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.date-list .date-item {
  box-sizing: border-box;
  flex: 1;
  height: 72px;
  max-width: 56px;
  min-width: 56px;
  padding: 8px 0;
  position: relative;
  text-align: center;
  z-index: 10;
}
.date-list .date-item.active {
  background: #eb4e62;
}
.date-list .date-item .day, .touch .date-bar .date-list-container .date-list .date-item .month {
  color: #666;
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  line-height: 16px;
  text-transform: uppercase;
}
.touch .date-bar .date-list-container .date-list .date-item .date {
  color: #1a1a1a;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 1px;
}
.month {
  color: #666;
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  line-height: 16px;
  text-transform: uppercase;
}
.name-section {
  height: 22px;
  margin-top: 10px;
  overflow: hidden;
}
.name-section .name {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  line-height: 22px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.movie-details {
  position: relative;
  text-align: left;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background: #333545;
  color: #999;
  z-index: 3;
}
.movie-details .fix-height-div {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 30px 20px 15px;
  box-sizing: border-box;
}
.movie-details .top-section-container {
  zoom: 1;
  position: relative;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  height: 15%;
}
.movie-details-container .text-details {
  position: relative;
  box-sizing: border-box;
  zoom: 1;
}
.cinema-name-container{
  color: #fff;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
button, input[type=button] {
  width: auto;
  overflow: visible;
}
.prev {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: 0 0;
  border: none;
  opacity: .5;
}
.wrapper {
  padding: 0 15px;
}
.container {
  zoom: 1;
  background: #fff;
  padding: 0 0 15px;
  position: relative;
  min-height: 350px;
}